Cemotion==2.0.3
jieba==0.42.1
matplotlib==3.7.1
moviepy==1.0.3
numpy==1.24.3
openpyxl==3.1.2
pandas==1.5.3
Pillow==9.5.0
Pillow==9.5.0
PyMySQL==1.0.3
Requests==2.31.0
selenium==4.9.1
snownlp==0.12.3
SQLAlchemy==2.0.15
st_pages==0.4.1
streamlit==1.22.0
urllib3==1.26.13
wordcloud==1.9.2
xlrd==2.0.1
xlutils==2.0.0
xlwt==1.3.0
you_get==0.4.1650
